body {
	background-color: #cefdce;
	color: #778899;
}

.site-container {
	max-width: 1000px;
}

header {
	width: 100%;
	background-color: #f5ae70;
	padding: 20px 0;
	margin-bottom: 40px;
	color: #ffffff;
	text-align: center;
	font-size: 25px;
}

h3 {
	font-style: italic;
}

#wrapper {
	margin: auto;
}

#text {
	max-width: 600px;
	background-color: #ffffff;
	padding: 10px;
	margin: auto;
	margin-top: 20px;
}

@media (min-width: 300px) {
	#text {
		width: 80%;
	}
}

@media (min-width: 900px) {
	#text {
		float: left;
	}
}

#sidebar {
	max-width: 300px;
	background-color: #ffffff;
	padding: 10px;
	margin: auto;
	margin-top: 20px;
	text-align: center;
}

time {
	font-size: 60px;
	font-weight: bold;
	color: #87ceeb;
}

#sidebar img {
	margin-top: 180px;
}

@media (min-width: 900px) {
	#sidebar {
		float: right;
	}
}

#picture {
	max-width: 600px;
	background-color: #ffffff;
	padding: 10px;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 30px;
}

figure {
	max-width: 459px;
	margin: auto;
}

figcaption {
	font-style: italic;
	text-align: center;
	margin-top: 20px;
}

@media (min-width: 300px) {
	#picture {
		width: 80%;
	}
	figure img {
		width: 90%;
	}
}

@media (min-width: 900px) {
	#picture {
		width: 100%;
		float: left;
	}
	figure img {
		width: 100%;
	}
}

#text,
#sidebar,
#picture {
	-webkit-box-shadow: 2px 2px 5px 3px #adadad;
	box-shadow: 2px 2px 5px 3px #adadad;
	-webkit-border-radius: 20px 0;
	border-radius: 20px 0;
}

footer {
	width: 100%;
	clear: both;
	text-align: center;
	background-color: #b0e0e6;
	padding: 15px 0;
	color: #778899;
}
