body {
	background-color: #cd5c5c;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: bold;
	color: #000000;
}

h1 {
	text-align: center;
	color: #20b2aa;
}

.site-container {
	max-width: 700px;
}

.container {
	width: 50%;
	margin: auto;
	margin-top: 50px;
	padding: 20px;
	background-color: #ffffff;
	-webkit-border-radius: 15px 15px 15px 15px;
	border-radius: 15px 15px 15px 15px;
	-webkit-box-shadow: 3px 3px 7px 2px #6b6b6b;
	box-shadow: 3px 3px 7px 2px #6b6b6b;
}

label {
	padding-top: 5px;
	padding-bottom: 5px;
	display: block;
	clear: right;
	font-size: 21px;
	letter-spacing: 2px;
}

input,
textarea {
	width: 90%;
	margin: auto;
}

#First,
#Last {
	border: 2px solid silver;
}

#Email {
	border: 2px solid silver;
}

#Message {
	border: 2px solid silver;
}

.submit-button {
	width: 100px;
	padding: 10px;
	margin-top: 10px;
	color: #000000;
}

.submit-button:hover {
	background-color: #20b2aa;
	color: #ffffff;
}
